.row-3{
    grid-area:sidebar;
    background: olivedrab;
}

.row-1{
    grid-area: header;
    background: orchid;
}
.row-2{
    grid-area: main;
    background: peachpuff;
}
.row-3{
    grid-area:sidebar;
    background: olivedrab;
}
.item-d{
    grid-area: footer;
    background: mediumvioletred;
}
.container{
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    align-content: center;
}
body{
   border: 1px solid black;
   background: powderblue;
   padding: 30px; 
}