.item-a{
    grid-area: header;
}
.item-b{
    grid-area: main;
}
.item-c{
    grid-area:sidebar;
}
.item-d{
    grid-area: footer;
}
.container{
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}
body{
   border: 1px solid powderblue;
   padding: 30px; 
}